<div>
  <h4>What would you like to do?</h4>
  <div class="padding">
    <p><a href = "/get_info">Enter info for someone</a></p>
    <p><a href = "/list_users">View info for someone</a></p>
    <p><a href = "/get_search">Update info for someone</a></p>
  </div>
</div>

<hr>